<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Assigned Group</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5.1");
//-->
</script>

<h3 class="std">4.5.1 Assigned Group</h3>
<p>Figure 11 illustrates an instance diagram.</p>
<table><tr><td><img alt="Assigned Group" src="diagrams/assigned-group.png" usemap="#f11"><map name="f11"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition"><area shape="rect" coords="208,8,376,104" href="../ifckernel/lexical/ifcrelassignstogroup.htm" alt="IfcRelAssignsToGroup"><area shape="rect" coords="408,8,576,224" href="../ifckernel/lexical/ifcgroup.htm" alt="IfcGroup"></map></td></tr><tr><td><p class="figure">Figure 11 &mdash; Assigned Group</p></td></tr></table>

<hr>
<h4>Mechanical System Design</h4>
<p>This concept is used by entities for exchanges as shown.</p>
<table class="exchange">
<tr><td></td><td><a href="../views/mechanical-system-design/space-program.htm"><image width="16" src="../../img/mvd-space-program.png" title="Space Program"></image></a></td>
<td><a href="../views/mechanical-system-design/product-program.htm"><image width="16" src="../../img/mvd-product-program.png" title="Product Program"></image></a></td>
<td><a href="../views/mechanical-system-design/system-layout.htm"><image width="16" src="../../img/mvd-system-layout.png" title="System Layout"></image></a></td>
<td><a href="../views/mechanical-system-design/product-type-template.htm"><image width="16" src="../../img/mvd-product-type-template.png" title="Product Type Template"></image></a></td>
<td><a href="../views/mechanical-system-design/product-template.htm"><image width="16" src="../../img/mvd-product-template.png" title="Product Template"></image></a></td>
<td><a href="../views/mechanical-system-design/system-operation.htm"><image width="16" src="../../img/mvd-system-operation.png" title="System Operation"></image></a></td>
</tr><tr><td><a href="../ifchvacdomain/lexical/ifcairterminal.htm">IfcAirTerminal</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcairterminalbox.htm">IfcAirTerminalBox</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm">IfcAirToAirHeatRecovery</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcchiller.htm">IfcChiller</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifccoil.htm">IfcCoil</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcdamper.htm">IfcDamper</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductfitting.htm">IfcDuctFitting</a></td><td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductsegment.htm">IfcDuctSegment</a></td><td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductsilencer.htm">IfcDuctSilencer</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcevaporativecooler.htm">IfcEvaporativeCooler</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcevaporator.htm">IfcEvaporator</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcfan.htm">IfcFan</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcheatexchanger.htm">IfcHeatExchanger</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifchumidifier.htm">IfcHumidifier</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcunitaryequipment.htm">IfcUnitaryEquipment</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcunitaryequipmenttype.htm">IfcUnitaryEquipmentType</a></td><td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
</tr>
</table>
<p><a href="../../link/assigned-group.htm" target="_top"><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page">&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
