<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Assignment</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.5");
//-->
</script>

<h2 class="std">4.5 Assignment</h2>

<p>
Objects may provide services to other objects, where the
 "assigned from" object acts upon or observes requirements
 of the "assigned to" object. There is a general cycle of
 assignments where <i>actors</i> (people) issue <i>controls</i> (such as
 work orders or schedules), which may result in <i>groups</i> (such as
        building systems) comprised of <i>products</i> (such as building
 elements) operated upon by <i>processes</i> (such as construction
 tasks) performed by <i>resources</i> (such as labor) which
 may in turn be fulfilled by actors (people). Requirements
 are established at the "to" side and are fulfilled at the
        "from" side, where costs, time, scope, or other metrics may
 be calculated in the "from-to" direction.

</p>

 <p><a href="../../link/assignment.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
