<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Composition</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6");
//-->
</script>

<h2 class="std">4.6 Composition</h2>

        <p>Objects may be composed into parts to indicate levels of
        detail, such as a building having multiple storeys, a
        framed wall having studs, or a task having subtasks.
        Composition may form a hierarchy of multiple levels, where
        an object must have a single parent, or if a top-level
        object then declared within the single project or a project library.</p>          
        
      <p><a href="../../link/composition.htm" target="_top" ><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page"/>&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
