<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Object Typing</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.4.1");
//-->
</script>

<h3 class="std">4.4.1 Object Typing</h3>

<p>
<i>Object Occurrences</i> may be
 defined by a particular <i>Object Type</i>, where such type
 describes common characteristics. 
Such characteristics
 include common properties, shapes, materials, composition,
 and other concepts described at particular entities. 
An
 object occurrence may have similar state as its object
 type, overridden state for particular characteristics, or
 have no defined type object.

</p>



<p>
A pair of <i>entities</i> are defined for various
 object occurrences and object types, where such object occurrence entity may only be defined using a particular
object type entity. For example, the <i>IfcTank</i>
 occurrence object entity has a corresponding
 <i>IfcTankType</i> type object entity.

</p>


<p>
Many object occurrence and object type entities have an <i>attribute</i> named <i>PredefinedType</i> consisting of a specific
 <i>enumeration</i>. 
Such predefined
 type essentially provides another level of inheritance to
 further differentiate objects without the need for
 additional <i>entities</i>. 
Predefined types are not
 just informational; various rules apply such as applicable
 <i>property
 sets</i>, part composition, and distribution ports.

</p>



<p>
For scenarios of object types having part compositions,
 such parts may be reflected at object occurrences having
 separate state. 
For example, a <i>wall type</i> may define
 a particular arrangement of studs, a <i>wall occurrence</i>
 may reflect the same arrangement of studs, and studs within
 the wall occurrence may participate in specific
 relationships that do not exist at the type such as being
 connected to an electrical junction box.

</p>

 <p>Figure 10 illustrates an instance diagram.</p>
<table><tr><td><img alt="Object Typing" src="diagrams/object-typing.png" usemap="#f10"><map name="f10"><area shape="rect" coords="8,8,176,212" href="../ifckernel/lexical/ifcobject.htm" alt="IfcObject"><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcreldefinesbytype.htm" alt="IfcRelDefinesByType"><area shape="rect" coords="408,8,576,188" href="../ifckernel/lexical/ifctypeobject.htm" alt="IfcTypeObject"></map></td></tr><tr><td><p class="figure">Figure 10 &mdash; Object Typing</p></td></tr></table>

<hr>
<h4>Mechanical System Design</h4>
<p>This concept is used by entities for exchanges as shown.</p>
<table class="exchange">
<tr><td></td><td><a href="../views/mechanical-system-design/space-program.htm"><image width="16" src="../../img/mvd-space-program.png" title="Space Program"></image></a></td>
<td><a href="../views/mechanical-system-design/product-program.htm"><image width="16" src="../../img/mvd-product-program.png" title="Product Program"></image></a></td>
<td><a href="../views/mechanical-system-design/system-layout.htm"><image width="16" src="../../img/mvd-system-layout.png" title="System Layout"></image></a></td>
<td><a href="../views/mechanical-system-design/product-type-template.htm"><image width="16" src="../../img/mvd-product-type-template.png" title="Product Type Template"></image></a></td>
<td><a href="../views/mechanical-system-design/product-template.htm"><image width="16" src="../../img/mvd-product-template.png" title="Product Template"></image></a></td>
<td><a href="../views/mechanical-system-design/system-operation.htm"><image width="16" src="../../img/mvd-system-operation.png" title="System Operation"></image></a></td>
</tr><tr><td><a href="../ifchvacdomain/lexical/ifcairterminal.htm">IfcAirTerminal</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcairterminalbox.htm">IfcAirTerminalBox</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm">IfcAirToAirHeatRecovery</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcchiller.htm">IfcChiller</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifccoil.htm">IfcCoil</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcdamper.htm">IfcDamper</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductfitting.htm">IfcDuctFitting</a></td><td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductsegment.htm">IfcDuctSegment</a></td><td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcductsilencer.htm">IfcDuctSilencer</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcevaporativecooler.htm">IfcEvaporativeCooler</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcevaporator.htm">IfcEvaporator</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcfan.htm">IfcFan</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcheatexchanger.htm">IfcHeatExchanger</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifchumidifier.htm">IfcHumidifier</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
<tr><td><a href="../ifchvacdomain/lexical/ifcunitaryequipment.htm">IfcUnitaryEquipment</a></td><td>-<br>-</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
</table>
<p><a href="../../link/object-typing.htm" target="_top"><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page">&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
