<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Port Requirements</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.7.1.1");
//-->
</script>

<h4 class="std">4.7.1.1 Port Requirements</h4>
<p>Ports on objects may be connected using elements such as cables, ducts, or pipes.Once Components within a System has some ports, then the connectivity should be complete and continuous. The presence of ports for air, water and electrical connections on complex equipment does not imply that all such connectivity is expected: only that if for example the HVAC segments and fittings have ports, then they will need to connect properly to the equipment's air ports. </p><p>Figure 15 illustrates an instance diagram.</p>
<table><tr><td><img alt="Port Requirements" src="diagrams/port-requirements.png" usemap="#f15"><map name="f15"><area shape="rect" coords="8,8,176,320" href="../ifcsharedbldgserviceelements/lexical/ifcdistributionport.htm" alt="IfcDistributionPort"><area shape="rect" coords="208,8,376,104" href="../ifcproductextension/lexical/ifcrelconnectsports.htm" alt="IfcRelConnectsPorts"><area shape="rect" coords="408,8,576,320" href="../ifcsharedbldgserviceelements/lexical/ifcdistributionport.htm" alt="IfcDistributionPort"><area shape="rect" coords="408,332,576,740" href="../ifcsharedbldgserviceelements/lexical/ifcflowsegment.htm" alt="IfcFlowSegment"></map></td></tr><tr><td><p class="figure">Figure 15 &mdash; Port Requirements</p></td></tr></table>

<p><a href="../../link/port-requirements.htm" target="_top"><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page">&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
