<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Project Units</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.2.2");
//-->
</script>

<h3 class="std">4.2.2 Project Units</h3>
  <p class="std">

        The project context includes the definition of the default units within the IFC data set. Default units are

        those units that apply:

      </p>

      <ul class="std">

        <li class="std">to all geometric representation items within the geometric representation contexts;

        </li>

        <li class="std">to all attributes with a defined datatype indicating a measure datatype;

        </li>

        <li class="std">to all properties and quantities with a defined datatype indicating a measure datatype and with

        no local unit definitions provided.

        </li>

      </ul>
<p>Figure 5 illustrates an instance diagram.</p>
<table><tr><td><img alt="Project Units" src="diagrams/project-units.png" usemap="#f5"><map name="f5"><area shape="rect" coords="8,8,176,236" href="../ifckernel/lexical/ifccontext.htm" alt="IfcContext"><area shape="rect" coords="208,8,376,32" href="../ifcmeasureresource/lexical/ifcunitassignment.htm" alt="IfcUnitAssignment"></map></td></tr><tr><td><p class="figure">Figure 5 &mdash; Project Units</p></td></tr></table>

<hr>
<h4>Mechanical System Design</h4>
<p>This concept is used by entities for exchanges as shown.</p>
<table class="exchange">
<tr><td></td><td><a href="../views/mechanical-system-design/space-program.htm"><image width="16" src="../../img/mvd-space-program.png" title="Space Program"></image></a></td>
<td><a href="../views/mechanical-system-design/product-program.htm"><image width="16" src="../../img/mvd-product-program.png" title="Product Program"></image></a></td>
<td><a href="../views/mechanical-system-design/system-layout.htm"><image width="16" src="../../img/mvd-system-layout.png" title="System Layout"></image></a></td>
<td><a href="../views/mechanical-system-design/product-type-template.htm"><image width="16" src="../../img/mvd-product-type-template.png" title="Product Type Template"></image></a></td>
<td><a href="../views/mechanical-system-design/product-template.htm"><image width="16" src="../../img/mvd-product-template.png" title="Product Template"></image></a></td>
<td><a href="../views/mechanical-system-design/system-operation.htm"><image width="16" src="../../img/mvd-system-operation.png" title="System Operation"></image></a></td>
</tr><tr><td><a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a></td><td>O<br>O</td>
<td>O<br>O</td>
<td>O<br>O</td>
<td>O<br>O</td>
<td>O<br>O</td>
<td>O<br>O</td>
</tr>
</table>
<p><a href="../../link/project-units.htm" target="_top"><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page">&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
