<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../ifc-styles.css">

    <title>Spatial Decomposition</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../toc-4.htm#4.6.1.1");
//-->
</script>

<h4 class="std">4.6.1.1 Spatial Decomposition</h4>
<p>Provision of a spatial structure of the project by aggregating spatial structure elements. The spatial structure is a hierarchical tree of spatial structure elements (site, building, storey, space) ultimately assigned to the project. Decomposition refers to the relationship to lower level elements (e.g. this storey has spaces).</p>
<p>The order of spatial structure elements being included in the concept are from high to low level: <a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a>, <i>IfcSite</i>, <i>IfcBuilding</i>, <i>IfcBuildingStorey</i>, <i>fcSpace</i>. Therefore an spatial structure element can only has parts of an element at the same or lower level.</p><p>Figure 13 illustrates an instance diagram.</p>
<table><tr><td><img alt="Spatial Decomposition" src="diagrams/spatial-decomposition.png" usemap="#f13"><map name="f13"><area shape="rect" coords="8,8,176,152" href="../ifckernel/lexical/ifcobjectdefinition.htm" alt="IfcObjectDefinition"><area shape="rect" coords="208,8,376,92" href="../ifckernel/lexical/ifcrelaggregates.htm" alt="IfcRelAggregates"><area shape="rect" coords="408,8,576,296" href="../ifcproductextension/lexical/ifcspatialelement.htm" alt="IfcSpatialElement"></map></td></tr><tr><td><p class="figure">Figure 13 &mdash; Spatial Decomposition</p></td></tr></table>

<hr>
<h4>Mechanical System Design</h4>
<p>This concept is used by entities for exchanges as shown.</p>
<table class="exchange">
<tr><td></td><td><a href="../views/mechanical-system-design/space-program.htm"><image width="16" src="../../img/mvd-space-program.png" title="Space Program"></image></a></td>
<td><a href="../views/mechanical-system-design/product-program.htm"><image width="16" src="../../img/mvd-product-program.png" title="Product Program"></image></a></td>
<td><a href="../views/mechanical-system-design/system-layout.htm"><image width="16" src="../../img/mvd-system-layout.png" title="System Layout"></image></a></td>
<td><a href="../views/mechanical-system-design/product-type-template.htm"><image width="16" src="../../img/mvd-product-type-template.png" title="Product Type Template"></image></a></td>
<td><a href="../views/mechanical-system-design/product-template.htm"><image width="16" src="../../img/mvd-product-template.png" title="Product Template"></image></a></td>
<td><a href="../views/mechanical-system-design/system-operation.htm"><image width="16" src="../../img/mvd-system-operation.png" title="System Operation"></image></a></td>
</tr><tr><td><a href="../ifckernel/lexical/ifcproject.htm">IfcProject</a></td><td>R<br>R</td>
<td>R<br>R</td>
<td>R<br>R</td>
<td>-<br>-</td>
<td>-<br>-</td>
<td>R<br>R</td>
</tr>
</table>
<p><a href="../../link/spatial-decomposition.htm" target="_top"><img src="../../img/permlink.png" style="border: 0px" title="Link to this page" alt="Link to this page">&nbsp; Link to this page</a></p>
<p></p>
  </body>
</html>
