<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="../../../ifc-styles.css">

    <title>Product Program</title>

  </head>

  <body>


<script language="JavaScript1.1" type="text/javascript">
<!--
    parent.index.location.replace("../../toc-1.htm#1.1.2.0");
//-->
</script>

<h4><a id="product program" name="product program">1.1.2 Product Program</a></h4>
<p class="std">
<p>Managable HVAC components include all air distribution elements except duct segments and duct fittings, which are commonplace and so managed through their System.<p> <p></p>
<table class="exchange">
<tr><th colspan="5"><img src="../../../img/mvd-product-program.png" />&nbsp; Product Program</th></tr>
<tr><th>Entity/Concept</th><th>Attributes</th><th>Constraints</th><th>I</th><th>E</th></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcairterminal.htm">IfcAirTerminal</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminal.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminal.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminal.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminal.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcairterminalbox.htm">IfcAirTerminalBox</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminalbox.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminalbox.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminalbox.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairterminalbox.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm">IfcAirToAirHeatRecovery</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcairtoairheatrecovery.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcchiller.htm">IfcChiller</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcchiller.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcchiller.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcchiller.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcchiller.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifccoil.htm">IfcCoil</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifccoil.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifccoil.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifccoil.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifccoil.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcdamper.htm">IfcDamper</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcdamper.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcdamper.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcdamper.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcdamper.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcductsilencer.htm">IfcDuctSilencer</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcductsilencer.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcductsilencer.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcductsilencer.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcductsilencer.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcevaporativecooler.htm">IfcEvaporativeCooler</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporativecooler.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporativecooler.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporativecooler.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporativecooler.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcevaporator.htm">IfcEvaporator</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporator.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporator.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporator.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcevaporator.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcfan.htm">IfcFan</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcfan.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcfan.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcfan.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcfan.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcheatexchanger.htm">IfcHeatExchanger</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcheatexchanger.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcheatexchanger.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcheatexchanger.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcheatexchanger.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifchumidifier.htm">IfcHumidifier</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifchumidifier.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifchumidifier.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifchumidifier.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifchumidifier.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifckernel/lexical/ifcproject.htm">IfcProject</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#revision-control">Revision Control</a></td><td>OwnerHistory</td><td></td><td>O</td><td>O</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#descriptions">Descriptions</a></td><td>Description</td><td></td><td>O</td><td>O</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#spatial-decomposition">Spatial Decomposition</a></td><td>IsDecomposedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#conversion-units">Conversion Units</a></td><td>UnitsInContext</td><td>NamedUnitType=LENGTHUNIT;</td><td>O</td><td>O</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#project-context">Project Context</a></td><td>RepresentationContexts</td><td>ContextIdentifier=Plan;ContextType=2D;<br/>ContextIdentifier=Model;ContextType=3D;</td><td>-</td><td>-</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#project-declaration">Project Declaration</a></td><td>Declares</td><td>Type=IfcElementType;</td><td>-</td><td>-</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#project-units">Project Units</a></td><td>UnitsInContext</td><td></td><td>O</td><td>O</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#si-units">SI Units</a></td><td>UnitsInContext</td><td></td><td>O</td><td>O</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifckernel/lexical/ifcproject.htm#aggregation">Aggregation</a></td><td>PredefinedType<br/>IsDecomposedBy</td><td></td><td>-</td><td>-</td></tr>
<tr><td colspan="5"><b><a href="../../ifcproductextension/lexical/ifcspace.htm">IfcSpace</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifcproductextension/lexical/ifcspace.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifcproductextension/lexical/ifcspace.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
<tr><td colspan="5"><b><a href="../../ifchvacdomain/lexical/ifcunitaryequipment.htm">IfcUnitaryEquipment</a></b></td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcunitaryequipment.htm#object-typing">Object Typing</a></td><td>IsTypedBy</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcunitaryequipment.htm#assigned-group">Assigned Group</a></td><td>HasAssignments</td><td>Type=IfcDistributionSystem;</td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcunitaryequipment.htm#classification">Classification</a></td><td>HasAssociations</td><td></td><td>R</td><td>R</td></tr>
<tr><td>&nbsp;&nbsp;<a href="../../ifchvacdomain/lexical/ifcunitaryequipment.htm#identity">Identity</a></td><td>GlobalId<br/>Name<br/>Description</td><td></td><td>R</td><td>R</td></tr>
</table>
</p>
